$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

*{
  margin: 0;
  padding: 0;
}
.wrap {
  padding-left: 2rem;
  padding-right: 2rem;
  transition: padding ease-in-out 250ms;


  @media screen {
    @media (min-width: $breakpoint-md) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @media (min-width: $breakpoint-lg) {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    @media (min-width: $breakpoint-xl) {
      padding-left: 12rem;
      padding-right: 12rem;
      //max-width: 100rem;
      //margin: 0 auto;
    }
  }
}
