@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  .footer-element{
    display: flex;
  }
}

.footer-element {

  text-align: center;
  background-color: #343a40;
  margin-right: 1rem;
  &:last-of-type{
    margin-right: unset;
  }
}

.footer-link li a{
  transition: all 0.3s ease 0s;
}

.footer-link li a:hover{
  color: #0088a9;
}

