@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&display=swap');
*{
  font-family: "Montserrat", sans-serif;
  color: #ecf0f1;
}


.home {
  display: flex;
  flex-direction: column;
  .header {

  }

  .skills {

  }

  .experience {
    display: flex;

    .education {

    }

    .work {

    }

    @media screen and (min-width: $breakpoint-md) {
      flex-direction: row;
      .education, .work {
        width: 50%;
      }
    }
  }
}

a, button {
  font-family: "Montserrat", sans-serif;
}

